

/*--ligne séléctionnée style---*/
#ligne_selected{
    -fx-stroke-width: 5;
    -fx-stroke: red;
}
#polygonfleche_selected{
    -fx-stroke-width: 5;
    -fx-stroke: red;
    -fx-fill: red;
}

/*Style par défault*/

#ligne0_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #27e5f5;

}

#polygonfleche0_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #27e5f5;
    -fx-fill: #27e5f5;
}

/*--Style-1-light-mode-*/

#ligne1_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #8078e0;
}

#polygonfleche1_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #8078e0;
    -fx-fill: #8078e0;
}

/*--Style-2--*/

#ligne2_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #fb9c0e;
}

#polygonfleche2_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #fb9c0e;
    -fx-fill: #fb9c0e;
}


/*--Style-3--*/

#ligne3_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #F08080;
}

#polygonfleche3_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: #F08080;
    -fx-fill: #F08080;
}


/*--Style-4-dark mode-*/

#ligne4_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke:  rgba(0,100,0,0.8);
}

#polygonfleche4_not_selected{
    -fx-stroke-width: 5;
    -fx-stroke: rgba(0,100,0,0.8);
    -fx-fill: rgba(0,100,0,0.8);
}
