/*--STYLE-DES-BOUTONS---*/

#buttonActivite0 {
   -fx-background-color: #fffd1d;
    -fx-text-fill: black;
}

#buttonActivite1 {
    -fx-background-color:  #c0c0c3;
}

#buttonActivite2 {
   -fx-background-color: #ffd65b;
    -fx-text-fill: white;
}

#buttonActivite3 {
   -fx-background-color: #F08080;
    -fx-text-fill: white;
}

#buttonActivite4 {
    -fx-background-color:  #c0c0c3;
}

#buttonGuichet0 {
    -fx-background-color: #27e5f5;
    -fx-text-fill: black;
}

#buttonGuichet1 {
    -fx-background-color:  #c0c0c3;
}

#buttonGuichet2 {
    -fx-background-color:  #41f025;
    -fx-text-fill: black;
}

#buttonGuichet3 {
    -fx-background-color:  #ffee00;
    -fx-text-fill: black;
}

#buttonGuichet4 {
    -fx-background-color:  #c0c0c3;
}


/*--STYLE-DU-BACKGROUND--*/

#background0 {
    -fx-background-color:  #fcf59d;
}

#background1 {
    -fx-background-color: white;
}

#background2 {
    -fx-background-color:  #ff5e20;
}

#background3 {
    -fx-background-color:  #ff8c60;
}

#background4 {
    -fx-background-color:   #272623;
}





