/*--STYLE-DES-BOUTONS---*/

#buttonSimulation0 {
   -fx-background-color: red;
    -fx-text-fill: black;
}

#buttonActivite0 {
   -fx-background-color: #00bfffDB;
   -fx-text-fill: black;
}

#buttonActivite1 {
    -fx-background-color: #9370DB;
}

#buttonActivite2 {
   -fx-background-color: #0000FF;
   -fx-text-fill: white;
}

#buttonActivite3 {
   -fx-background-color: #F08080;
    -fx-text-fill: white;
}

#buttonActivite4 {
    -fx-background-color:  #1E90FF;
}

#buttonGuichet0 {
    -fx-background-color: #FFFF33;
    -fx-text-fill: black;
}

#buttonGuichet1 {
    -fx-background-color:  #7CFC00;
}

#buttonGuichet2 {
    -fx-background-color:  #32CD32;
    -fx-text-fill: black;
}

#buttonGuichet3 {
    -fx-background-color:  #ffee00;
    -fx-text-fill: black;
}

#buttonGuichet4 {
    -fx-background-color:  #32CD32;
}

/*--STYLE-DU-BACKGROUND--*/

#background0 {
    -fx-background-color:  #E8E8E8;
}

#background1 {
    -fx-background-color: white;
}

#background2 {
    -fx-background-color:  #ff5e20;
}

#background3 {
    -fx-background-color:  #ff8c60;
}

#background4 {
    -fx-background-color:   #272623;
}





